@import url(https://fonts.googleapis.com/css?family=Roboto);

a {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color:inherit;
}
.nav a {
  color: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  background: url("../imagens/background.jpg");
  overflow: hidden;
}

#output {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: grid;
  grid-template-columns: 10em;
  grid-template-rows: 7em 7em 2em;
  grid-template-areas: "image" "text" "stats";

  font-family: roboto;
  border-radius: 18px;
  background-color: white;
  box-shadow: 1em 1em 3em black;
  text-align: center;

  transition: 0.5s ease;
  cursor: pointer;

  margin: 1em;
}

.card-image {
  grid-area: image;
  /* background: url("img1.jpg"); */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /* background-size: cover; */
  width: 100%;
  height: 100%;
}

.card-text {
  grid-area: text;
  margin: 1em;
}

.card-text .date {
  color: rgb(255, 7, 110);
  font-size: 3em;
}

.card-text p {
  color: gray;
  font-size: 0.6em;
  font-weight: 300;
}

.card-text h2 {
  margin-top: 0px;
  font-size: 1em;
}

.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(255, 7, 110);
}

.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: .5em;
  color: white;
}

.card-stats .type {
  font-size: 0.4em;
  font-weight: 300;
  text-transform: uppercase;
}

.card-stats .value {
  font-size: 0.6em;
  font-weight: 500;
}

.card-stats .border {
  border-left: 1px solid rgb(172, 26, 87);
  border-right: 1px solid rgb(172, 26, 87);
}

.card-stats .value sup {
  font-size: 0.4em;
}

.card:hover {
  transform: scale(1.5);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

form {
  background-color: white;
}

input {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 13pt;
}

input:hover {
  background-color: #dddddd;
}

legend {
  color: #888888;
  font-family: sans-serif;
  font-size: 13pt;
  font-weight: bold;
}

#calc-button{
  background: url("../imagens/calculate-button.png");
  background-size: cover;
  color: rgba(0,0,0,0);
}

#water{
  display: none;
}